body {
    background: #282c3b;
    color: #FFF;
}

.modal-large {
    width: 90%;
    max-width: none !important;
}

.modal-content {
    background-color: #282c3b;
    border: 1px solid #282c3b;
}

.modal-header {
    border-bottom: 1px solid #14161e;
}


/**********************************************************************************
                            HEADER
***********************************************************************************/


/**********************************************************************************
                            Body
***********************************************************************************/


/**********************************************************************************
                            Footer
***********************************************************************************/